body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.main {
    padding: 20px;
    margin: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.participant {
    margin: 20px 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.participant-result {
    margin: 20px 0;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.winner {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
